<p>twilio-room works!</p>

<div id="video-container">

    <div  #localVideo>
      <p>local video</p>
    </div>
  
    <div  #remoteVideo>
      <p>remote video</p>
    </div>
    <!-- <input type="text" [(ngModel)]="username" placeholder="username">
  
    <input type="text" [(ngModel)]="roomName" placeholder="room name"> -->
  
    <input type="button"  value="connect" (click)="connect()">
  
    <input type="button"  value="disconnect" (click)="disconnect()">

    <input type="button"  value="toggle Mute" (click)="toggleMute()">

    <input type="button"  value="toggle Video" (click)="toggleVideo()">

  
  </div>